<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.PassengerDAO">
  <resultMap id="BaseResultMap" type="com.company.project.model.Passenger">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ACCOUNTID" jdbcType="VARCHAR" property="accountid" />
    <result column="ACCOUNTTYPE" jdbcType="NUMERIC" property="accounttype" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="CARDID" jdbcType="VARCHAR" property="cardid" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
  </resultMap>
</mapper>