<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TimeDAO">
  <resultMap id="BaseResultMap" type="com.company.project.model.Time">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="TRAINNUMBER" jdbcType="VARCHAR" property="trainnumber" />
    <result column="STATIONORDER" jdbcType="NUMERIC" property="stationorder" />
    <result column="STATION" jdbcType="VARCHAR" property="station" />
    <result column="ARRIVETIME" jdbcType="TIMESTAMP" property="arrivetime" />
    <result column="LEAVETIME" jdbcType="TIMESTAMP" property="leavetime" />
    <result column="DURATION" jdbcType="TIMESTAMP" property="duration" />
  </resultMap>
  <!-- public List<Time> findTrain(Date date, String start, String arrive)-->
  <select id="findTrain" resultMap="BaseResultMap" >

        select a.TRAINNUMBER, a.STATIONORDER, a.STATION, a.TRAINDATE, a.ARRIVETIME, a.LEAVETIME, a.REMAININGSEAT, a.DURATION from (select s.trainnumber,s.stationorder,s.remainingseat,s.traindate,t.station,t.arrivetime,t.leavetime,t.duration  from seatting s join time t on (s.trainnumber=t.trainnumber and t.stationorder=s.stationorder) ) a, (select s.trainnumber,s.stationorder,s.remainingseat,s.traindate,t.station,t.arrivetime,t.leavetime,t.duration  from seatting s join time t on (s.trainnumber=t.trainnumber and t.stationorder=s.stationorder) ) b where a.TRAINNUMBER = b.TRAINNUMBER and a.STATION = #{start} and b.STATION = #{end} and a.TRAINDATE = #{date} and b.TRAINDATE = #{date} and a.STATIONORDER &lt; b.STATIONORDER
  </select>

  <!--BigDecimal findStationOrder(String trainnumber, Date traindate, String station)-->
  <select id="findStationOrder" resultType="int">
        select STATIONORDER from (select * from Time t inner join Seatting s on (t.trainnumber=s.trainnumber and t.stationorder=s.stationorder)) where TRAINNUMBER = #{trainnumber} and TRAINDATE = #{traindate} and STATION = #{station}
  </select>

  <!--void sell(String trainnumber, Date traindate, int startOrder, int arriveOrder, int num)-->
  <update id="sell" >
    update Seatting
    set REMAININGSEAT = REMAININGSEAT - #{num}
    where TRAINNUMBER = #{trainnumber} and TRAINDATE = #{traindate} and STATIONORDER <![CDATA[>=]]> #{startOrder} and STATIONORDER <![CDATA[<=]]> #{arriveOrder}
  </update>

  <!--void back(String trainnumber, Date traindate, int startOrder, int arriveOrder, int num)-->
  <update id="back" >
    update Seatting
    set REMAININGSEAT = REMAININGSEAT + #{num}
    where TRAINNUMBER = #{trainnumber} and TRAINDATE = #{traindate} and STATIONORDER <![CDATA[>=]]> #{startOrder} and STATIONORDER <![CDATA[<=]]> #{arriveOrder}
  </update>

  <!--BigDecimal findRemainSeat(String trainnumber, Date traindate, int stationorder)-->
  <select id="findRemainSeat" resultType="int">
        select REMAININGSEAT from (select s.trainnumber,s.stationorder,s.remainingseat,s.traindate,t.station,t.arrivetime,t.leavetime,t.duration  from seatting s join time t on (s.trainnumber=t.trainnumber and t.stationorder=s.stationorder) )where TRAINNUMBER = #{trainnumber} and TRAINDATE = #{traindate} and STATIONORDER = #{stationorder}
  </select>
</mapper>