<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TrainorderDAO">
  <resultMap id="BaseResultMap" type="com.company.project.model.Trainorder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="ACCOUNTID" jdbcType="VARCHAR" property="accountid" />
    <result column="PASSENGERCARD" jdbcType="VARCHAR" property="passengercard" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TRAINDATE" jdbcType="TIMESTAMP" property="traindate" />
    <result column="TRAINNUMBER" jdbcType="VARCHAR" property="trainnumber" />
    <result column="STARTORDER" jdbcType="NUMERIC" property="startorder" />
    <result column="ARRIVEORDER" jdbcType="NUMERIC" property="arriveorder" />
    <result column="PRICE" jdbcType="NUMERIC" property="price" />
    <result column="STATE" jdbcType="NUMERIC" property="state" />
    <result column="ORDERDATE" javaType="Date" property="ordertime"/>
  </resultMap>

  <select id="getOrderByTimeSQL" parameterType="com.company.project.model.Trainorder" resultType="Integer">
    select count(1) from Trainorder where STATE=#{state} and ORDERDATE=#{ordertime}
  </select>

  <!-- public List<Trainorder> findOrder(String accountid, Date start, Date end)-->
  <select id="findOrder"  resultType="com.company.project.model.Trainorder">
        select o.ORDERID, o.NAME, o.PASSENGERCARD, o.TRAINDATE, o.TRAINNUMBER, t1.STATION, t2.STATION, o.PRICE, o.STATE, o.ORDERDATE
        from ( Trainorder o JOIN Time t1
              ON o.TRAINDATE = t1.TRAINDATE and o.TRAINNUMBER = t1.TRAINNUMBER and o.STARTORDER = t1.STATIONORDER )
              JOIN Time t2
              ON o.TRAINDATE = t2.TRAINDATE and o.TRAINNUMBER = t2.TRAINNUMBER and o.ARRIVEORDER = t2.STATIONORDER
        where o.ACCOUNTID = #{accountid} and ( o.TRAINDATE between #{start} and #{end} )
  </select>

</mapper>